name: ECS Fargate Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build Docker image
        run: docker build -t strapi-app:latest .

      - name: Login to ECR
        run: aws ecr get-login-password --region ${{ secrets.AWS_REGION }}  docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

      - name: Tag & Push Docker image
        run: 
          docker tag strapi-app:latest ${{ secrets.ECR_URI }}:latest
          docker push ${{ secrets.ECR_URI }}:latest

      - name: Terraform Init & Apply
        run: 
          terraform init
          terraform apply -auto-approve

